<section class="container">

<img class="logo" src="/images/Iron-y.png" alt="logo">


<form action="/auth/login" method="POST">

    <input type="text" name="username" placeholder="User Name">

    <input type="password" name="password" placeholder="Password"> 
    
    {{#if errorMessage }}
    <div>{{ errorMessage }}</div>
    {{/if}}

    <button class="btn">Log in</button>

    <p> Don't have an account? <a href="/auth/signup">Sign up</a> </p>
</form>




<a href="/"><i class="fas fa-arrow-left"></i>Go back</a>

</section>
