<section class="container cover">

    <img class="logo" src="/images/Logo.png" alt="logo">


    <form class="form-auth" action="/auth/login" method="POST">

        <input type="text" name="username" placeholder="User Name">

        <input type="password" name="password" placeholder="Password">

        {{#if errorMessage }}
        <div>{{ errorMessage }}</div>
        {{/if}}

        <button class="btn">Log in</button>    
    </form>

    <h3> Don't have an account? <a href="/auth/signup">Sign up</a> </h3>
    {{!-- <a href="/"><i class="fas fa-arrow-left"></i> Go back</a> --}}
</section>