<section class="container">

    <img class="logo" src="/images/Iron-y.png" alt="logo">


    <form action="/auth/signup" method="POST">

        <input type="text" name="username" placeholder="User name">

        <input type="password" name="password" placeholder="Password">

        <input type="password" name="repeat-password" placeholder="Repeat Password">

        <button class="btn" type="submit">Sign Up</button>

    </form>

    <p> Already have an account? <a href="/auth/login">Log in</a> </p>

    {{#if errorMessage}}
    <div>{{ errorMessage }}</div>
    {{/if}}

    <a href="/"><i class="fas fa-arrow-left"></i> Go back</a>

</section>