<div class="profile-challenge-box">
    <div class="container profile-challenge-box-name">
        <h3>{{this.name}}</h3>
        <a href="/priv/user/personalChallenge/{{this._id}}"><i class="fas fa-plus"></i>more info</a>
    </div>
    <div class="container profile-challenge-box-buttons">
        <form>
            <button class="challenge-button">Achieved</button>
        </form>

        <form>
            <button class="challenge-button red-button">Failed</button>
        </form>
    </div>
</div>

<div class="container profile-challenge-a">
    <a href="/priv/editPersonalChallenge/{{id}}">edit</a>
    <a href="/priv/deletePersonalChallenge/{{id}}">delete</a>
</div>