<div>
    <div>
        <h2>{{this.name}}</h2>
        <a href="/priv/user/personalChallenge/{{this._id}}"><i class="fas fa-plus"></i>See more info</a>
    </div>
    <div>
        <button>Achieved</button>
        <button>Failed</button>
    </div>
</div>

<div>
    <a href=""><i class="far fa-edit"></i></a>
    <a href=""><i class="fas fa-trash-alt"></i></a>
</div>