<div>
    <div>
        <h2>{{this.name}}</h2>
        <a href="/priv/socialChallengeDetail/{{this.id}}"><i class="fas fa-plus"></i> See more info</a>
    </div>
    <div>
        <form action="" method="POST">
        <button>Achieved</button>
        </form>

        <form action="" method="POST">
        <button>Failed</button>
        </form>      
    </div>
</div>

<div>
    <form action="/priv/socialChallenge/delete/{{this.id}}" method="POST">
        <button><i class="fas fa-trash-alt"></i></button>
    </form>
</div>
