<div>
    <img src="{{image}}" alt="emotions-connection">
    <h2>{{name}}</h2>
    <a href="/priv/user/socialChallengeDetails"><i class="fas fa-plus"></i> See more info</a>
    <form action="" method="POST">
    <button>Join</button>
    </form>
</div>

