<div>
    <img src="{{image}}" alt="emotions-connection">
    <h2>{{name}}</h2>
    <a href="/priv/socialChallengeDetail/{{id}}"><i class="fas fa-plus"></i> See more info</a>
    <a href="">Join</a>
</div>

