<div>
    <img src="{{this.image}}" alt="emotions-connection">
    <h2>{{this.name}}</h2>
    <a href="/priv/socialChallengeDetail/{{this.id}}"><i class="fas fa-plus"></i> See more info</a>
    <a href="/priv/addSocialChallenge/{{this.id}}">Join</a>
</div>