<div class="toolbar"> 
    <a href="/priv/addPersonalChallenge"><i class="fas fa-plus"></i></a>
    <a href="/priv/user"><i class="fas fa-home"></i></a>
    <a href="/priv/socialChallenges"><i class="fas fa-plug"></i></a>
</div>