<div class="toolbar">
    <a href="/priv/addPersonalChallenge"><div class="container"><i class="fas fa-plus"></i>Add</div></a>
    <a href="/priv/user"><div class="container"><i class="fas fa-user"></i>Profile</div></a>
    <a href="/priv/socialChallenges"><div class="container"><i class="fas fa-plug"></i>Social</div></a>
</div>