<div class="dark-blue-container">
    <h1>New Challenge!</h1>
    <div class="white-container">
        <form id="challenge-form" class="container" action="/priv/addPersonalChallenge" method="POST">
            <h2 for="">Name:</h2>
            <input type="text" name="name" placeholder="Add a name">

            <h2 for="">Description:</h2>
            <textarea form="challenge-form" name="description"
                placeholder="Give more details about your challenge"></textarea>

            <h2 for="">What does it modify?</h2>
            <div class="radio-buttons-container">
                <input type="radio" name="modify" value="hp"> hp
                <input type="radio" name="modify" value="exp"> exp
                <input type="radio" name="modify" value="both"> both
            </div>

            <h2>How difficult is it?</h2>
            <div class="radio-buttons-container">
                <input type="radio" name="difficulty" value=1> Easy
                <input type="radio" name="difficulty" value=3> Medium
                <input type="radio" name="difficulty" value=5> Hard
            </div>

            {{#if errorMessage}}
            <h3 class="error-message">{{errorMessage}}</h3>
            {{/if}}

            <button class="yellow-button  call-to-action" type="submit">
                <h2>Add!</h2>
            </button>
        </form>
    </div>
</div>

{{>toolbar}}