<div>
    <header>
        <img src="" alt="">
        <h2></h2>
        <i class="fas fa-user">14 participants</i>
    </header>
    
    <main>
        <p></p>
        <button>Join!</button>
    </main>
</div>

<a href=""><i class="fas fa-arrow-left"></i>Go back to profile</a>
<a href=""><i class="fas fa-arrow-left"></i>See other social Challenges</a>