<h1>New Personal Challenge!</h1>

<div>
    <form action="/priv/newChallenge" method="POST">
        <label for="">Name</label>
        <input type="text" name="" placeholder="What is you new Challenge?">

        <label for="">Description</label>
        <input type="text" name="" placeholder="Give more details about your challenge">

        <label for="">Difficulty</label>
        <!--Falta poner los botones?-->

        <button>Create</button>
    </form>
</div>

<a href=""><i class="fas fa-arrow-left"></i>See other social Challenges</a>

