<section class="dark-blue-container">
    <h1>Personal Challenge</h1>

    <div class="personal-edit">
        <h2>Name: </h2> <p>{{personalChallenge.name}}</p>
        <h2>Description: </h2> <p>{{personalChallenge.description}}</p>
        <h2>Modify: </h2> <p>{{personalChallenge.modify}}</p>
        <h2>Difficulty: </h2> <p>{{personalChallenge.difficulty}}</p>
    </div>

</section>

{{> toolbar}}

