<div>
    <img src="{{user.imgPath}}" alt="">
    <h2>{{user.motivSentence}}</h2>
</div>

<section>
    <i class="fas fa-heart"></i>
    <div>{{user.hp}}</div>
    <p>Exp</p>
    <div>{{user.exp}}</div>
</section>



<section>
    <h2>Personal Challenges</h2>
    <div>
        <div>
            <div>
                <p>Dormir min. 6h</p>
                <a href=""><i class="fas fa-plus"></i>See more info</a>
            </div>
            <div>
                <button>Achieved</button>
                <button>Failed</button>
            </div>
        </div>

        <div>
            <a href=""><i class="far fa-edit"></i></a>
            <a href=""><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>

    <a href="/priv/addPersonalChallenge"><i class="fas fa-plus"></i> Add a personal Challenge</a>
</section>


<section>
    <h2>Social Challenges</h2>
    <div>
        <div>
            <div>
                <p>IronBeers</p>
                <a href=""><i class="fas fa-plus"></i> See more info</a>
            </div>
            <div>
                <button>Achieved</button>
                <button>Failed</button>
            </div>
        </div>
    
        <div>
            <a href=""><i class="far fa-edit"></i></a>
            <a href=""><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    
    <a href="/priv/socialChallenges"><i class="fas fa-plus"></i> See more social Challenges</a>
</section>