<section class="dark-blue-container">

    <h1>Social Challenges</h1>
    <div>
        {{#each newChallenges}}
        {{>socialChallenges}}
        {{else}}
        <h3>Any new Challenges</h3>
        {{/each}}
    </div>

</section>

{{>toolbar}} 
