<h1>Social Challenge detail</h1>

<div>
    <header>
        <img src="{{data.image}}" alt="">
        <h2>{{data.name}}</h2>
        <i class="fas fa-user">14 participants</i>
    </header>
    
    <main>
        <p>{{data.description}}</p>
    </main>
</div>

<a href="/priv/socialChallenges"><i class="fas fa-arrow-left"></i>Go back</a>