<h1>Social Challenges</h1>

<div>
    <img src="" alt="">
    <p></p>
    <a href=""><i class="fas fa-plus"></i> See more info</a>
    <button>Join</button>
</div>

<a href="/priv"><i class="fas fa-arrow-left"></i>Go back to profile</a>


