<h1>Social Challenges</h1>


<div>
    {{#each newChallenges}}
    {{>socialChallenges}}
    {{/each}}
</div>

<a href="/priv/user"><i class="fas fa-arrow-left"></i> Go back to profile</a>

{{>toolbar}} 