<section>
    <h1>Social Challenge</h1>

    <div>
        <header class="">
            <img src="{{data.image}}" alt="">
            <div>
                <h2>{{data.name}}</h2>
                <i class="fas fa-user">14 participants</i>
            </div>
        </header>
    
         <main>
            <p>{{data.description}}</p>
        </main>
    </div>
</section>

{{>toolbar}} 