<section class="container">
    <img class="logo roll-in-left" src="/images/Iron-y.png" alt="logo">

    <a class="btn" href="/auth/signup">Sign up</a>
    <a class="btn" href="/auth/login">Log In</a>

</section>