<section class="cover entrance">
    <img class="logo" src="/images/Logo.png" alt="logo">

    <div class="container">
    <a class="btn" href="/auth/signup">Sign up</a>
    <a class="btn" href="/auth/login">Log in</a>
    </div>

</section>