*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  width: 100%;
  padding: 4vw;
  font-family: 'Roboto Mono', monospace;
  color: #2d354c;
}

.toolbar {
  height: 15px;
  width: 100%;
  background-color: rgb(238, 234, 234);
  height: 45px;
  width: 100%;
  background-color: rgb(238, 234, 234);
  position: fixed;
  bottom: 0;
}

a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-auth{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 35px 0;
  width: 100%;
}

.cover{
  height: 100vh;
}

.logo {
  width: 70%;
  transform: rotate(32deg);
}

.div-logo {
  height: 65%;
}


.btn {
  background: none;
  text-decoration: none;
  border-radius: 50px;
  border: 2px solid rgb(50, 195, 255);
  margin: 20px;
  color: rgb(45, 53, 76);
  padding: 10px 0;
  width: 80%;
  text-align: center;
}

.container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  border: 0;
  border-bottom: 2px solid gray;
  height: 40px;
  width: 80%;
  text-align: center;
}




/* PROFILE STYLE! */

.user-data{
  display:flex;
  margin-top: 10px;
}

.user-data img {
  width: 30vw;
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 2vh;
  margin-right: 5vw;
}


.name-container{
  align-items: stretch;
}

.name-container h1{
  font-size: 20px;
}

.name-container h5{
  margin-top: 2vw;
  padding: 2vw;
  border: 1px solid #909296;
  border-radius: 5px;
}

h2 {
  font-size: 20px;
}

.profile-challenges-section{
  margin: 5vh 0;
  align-items: flex-start;
}

.profile-challenge-partial{
  margin: 1vh 0;
  display: flex;
}

.profile-challenge-box{
  border: 2px solid #909296;
  display: flex;
  justify-content: space-around;
  margin: 1vh 0;
  width: 400px;
  max-width: 75vw;
  border-radius: 5px;
}

.profile-challenge-box-name{
  justify-content: space-around;
  width: 40vw;
}

.profile-challenge-box h3{
  padding-bottom: auto;
}

.profile-challenge-box-buttons {
  align-items: stretch;
  justify-content: start;
}

.challenge-button{
  margin: 5px;
  padding: 4px;
  width: 100px;
  background-color: rgb(50, 195, 255);
  border: 1px solid black;
  font-weight: 700;
  box-shadow: 3px 3px 2px black;
}

.red-button{
  background-color: rgb(228, 4, 4);
}


/*SOCIAL CHALLENGES*/
.socialChallenge-box > img {
  width: 150px;
}

.socialChallenge-box {
  display: flex;
  flex-direction: row;
  margin: 25px 0;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.socialChallenge-content{
  width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 5px 10px;
}

.socialChallenge-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.socialChallenge-links button{
  all: unset;
  padding: 5px 10px;
  background-color: chartreuse;
  border-radius: 5px;
  border: 1px solid #2d354c;
}