*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  color: #2d354c;
  font-size: 18px;
}

.toolbar {
  background-color: rgb(238, 234, 234);
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.toolbar a {
  width: 33.33%;
}

h1, h2, h3, h4, h5{
  font-weight: normal;
}

h1{
  font-size: 30px;
}

h2{
  font-size: 24px;
}

h3{
  font-size: 20px;
}

p{
  font-size: 16px;
}

.entrance{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.entrance h1{
  padding: 2vh;
  padding-top: 4vh;
  font-size: 6vw;
  text-align: center;
}

@media (min-width: 600px) {
  .entrance h1 {
     font-size: 24px;
  }
}

a{
  text-decoration: none;
  cursor: pointer;
  color: #2d354c;
  font-size: larger;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.back{
  align-self: start;
  margin-left: 20px;
}

.form-auth{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover{
  height: 100vh;
}

.logo {
  width: 30vh;
  max-width: 300px;
  transform: rotate(32deg);
}

.btn {
  background: none;
  text-decoration: none;
  background-color: #72C1ED;
  border: 1px solid #2D354C;
  margin: 20px;
  color: rgb(45, 53, 76);
  padding: 10px 0;
  text-align: center;
  box-shadow: 3px 3px 2px #2D354C;
  width:80vw;
  max-width: 400px;
  font-size: 24px;
}

.container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  font-family: 'Roboto Mono', monospace;
  border: 0;
  border-bottom: 2px solid #2D354C;
  height: 60px;
  width: 80vw;
  max-width: 400px;
  text-align: center;
  font-size: 24px;
}

.challenge-input{
  font-size: 18px;
}

.paragraf {
  margin: 15px 0;
}


/* PROFILE STYLE! */

.profile-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-one {
  margin-left: 2vw;
}

.profile-buttons form {
  margin-right: 15px;
  margin-top: 10px;
}

.main-profile-container{
  padding: 3vw;
  color: white;
  background-color: #2D354C;
}

.user-data{
  display:flex;
  justify-content: space-between;
  text-align: end;
  margin-bottom: 4vw;
}

.user-img {
  width: 35vw;
  height: 35vw;
  max-width: 200px;
  max-height: 200px;
  border: 2px solid white;
}

.name-container{
  align-items: stretch;
  justify-content: flex-start;
}

.main-profile-container h1{
  font-size: 30px;
  margin-bottom: 7vw;
}

.main-profile-container h5{
  padding: 2vw;
  font-size: 18px;
}

.bar{
  position: relative;
  height: 27px;
  align-items: flex-start;
  width: 55vw;
  border: 1px solid white;
  margin: 5px 0;
}

.life-bar{
  float: right;
  height: 25px;
  padding-right: 5px;
  background: #E43A3A;
  overflow: visible;
}

.blue{
  background: #72C1ED;
}

.absolute{
  margin-left: 5px;
  position: absolute;
}

.profile-challenges-section h2 {
  padding-left: 2vw;
  font-size: 24px;
}

.profile-challenges-section{
  margin: 3.5vh 2vw;
  align-items: flex-start;
}

.profile-challenge-partial{
  margin: 1vh 0;
  display: flex;
}


.profile-challenge-box{
  border: 2px solid #2D354C;
  display: flex;
  justify-content: space-between;
  margin: 1vh 0;
  padding: 1% 3%;
  width: 400px;
  max-width: 95vw;
  background-color: #EEEAEA;
}

.profile-challenge-box-name{
  justify-content: space-around;
  align-items: flex-start;
}

.profile-challenge-icons{
  display: flex;
  padding-left: 4vw;
  justify-content: space-between;
}

.profile-challenge-icons > *{
  margin: 0 2vw;
  font-size: 18px;
}

.profile-challenge-box-buttons {
  align-items: stretch;
  justify-content: start;
}

.challenge-button{
  margin: 5px;
  padding: 4px;
  width: 100px;
  background-color: #72C1ED;
  border: 1px solid #2D354C;
  font-weight: 700;
  box-shadow: 3px 3px 2px #2D354C;
}

.red-button{
  background-color: #E43A3A;
  color: white;
}

/* ADD CHALLENGES */
.dark-blue-container{
  color: white;
  background: #2D354C;
  padding: 5vw;
  height: auto;
  min-height: 92vh;
  padding-bottom: 60px;
}

.white-container{
  position: relative;
  color: black;
  background: white;
  padding: 5vw;
  padding-top: 0;
  height: auto;
  min-height: 75vh;
  margin-bottom: 30px;
}

#challenge-form{
  align-items: flex-start;
}

.dark-blue-container > h1{
  width: 100%;
  font-weight: normal;
  text-align: center;
  margin-bottom: 5vw;
}

#challenge-form > h2{
  margin: 4vw 0 2vw;
}

#challenge-form input{
  height: auto;
  font-size: 20px;
  padding-bottom: 5px;
}

textarea{
  font-size: 20px;
  width:80vw;
  padding: 2%;
  height: 13vh;
  border: 2px solid #2D354C;
}

.radio-buttons-container{
  display: flex;
  align-items: center;
}

.radio-buttons-container input{
  width: auto;
  font-size: 20px;
  margin: 0 2vw 0 4vw
}

.radio-buttons-container > input:first-child{
  margin-left: 0;
}

#challenge-form .yellow-button{
  margin-top: 4vw;
}

.error-message{
  margin-top: 4vw;
  color: red;
}

/*SOCIAL CHALLENGES*/
.socialChallenge-box > img {
  width: 20vh;
}

.socialChallenge-box {
  display: flex;
  flex-direction: row;
  margin: 25px 0;
  border: 1px solid gray;
  padding: 5px;
  background-color: #EEEAEA;
  color: #2D354C;
}

.socialChallenge-content{
  width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 5px 10px;
}

.socialChallenge-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.yellow-button{
  all: unset;
  padding: 5px 10px;
  background-color: #E2D029;
  border: 1px solid #2d354c;
  box-shadow: 3px 3px 2px #2D354C;
  color: #2D354C;
}

.call-to-action{
  text-align: center;
  height: 5vh;
  width: 10vh;
  margin-bottom: 4vh;
  left: 0;
  right: 0;
  margin: 10px auto;
  bottom: 0;
  position: absolute;
}

.challenge-detail{
  color: white;
  background: #2D354C;
  padding: 5vw;
  height: auto;
  min-height: 100vh;
}

.challenge-detail img {
  width: 90vw;
  margin: 20px 0;
}

/*EDIT PROFILE*/

.personal-edit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
}
.user-photo-form label{
  padding-top: 2vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.scroll{
  padding-bottom: 90px;
}